
/**
	Default Theme
*/
.defaultTheme {
    
	position: absolute;
	display: none;
	z-index: 99999;
    
	border:1px solid #ebebeb;
	background:#fcfcfc;
	color:#4d4d4d;
	margin:5px;
	padding:3px 5px 3px 5px;	
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: 1px 1px 3px #e5e5e5; /* for Firefox 3.5+ */
	-webkit-box-shadow: 1px 1px 3px #e5e5e5; /* for Safari and Chrome */
	box-shadow: 1px 1px 3px #e5e5e5; /* for Safari and Chrome */
}
	
.defaultTheme #closeBtn {
    display:block;
    height:18px;
    width:18px;
    background:url(../images/closeBtn.png) no-repeat;
    text-indent:-9999px;
    outline:none;
    position:absolute;
    top:-20px;
    right:-30px;
    margin:2px;
    padding:4px;
}

.defaultTheme .aToolTipContent {
		position:relative;
		margin:0;
		padding:0;
}